@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
    font-family: 'Libre Franklin', sans-serif;
  }

  a {
    @apply underline;
  }

}

#map {
  height: 400px;
}

.leaflet-container {
  height: 400px;
}